.left {
    float: left;
}

.form-padding {
    padding-left: 70px;
}

    .form-padding .container {
        padding-top: 7px;
        padding-bottom: 7px;
    }

/*IMAGE FORM*/

.image-form-container {
    position: absolute;
    left: 50%;
}