@model AbatementHelper.MVC.Models.User

@{
    ViewBag.Title = "AccountTypeSelection";
}

<h2>AccountTypeSelection</h2>

<form action="AccountTypeSelection" method="post">
    <input type="submit" name="accountType" value="false" />
    <input type="submit" name="accountType" value="true" />
</form>
