.avatar {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    border-radius: 50%;
}

#user-info, #store-info {
    margin: 30px 0 20px 0;
}

    #user-info div, #store-info div {
        display: inline-block;
    }

    #user-info h2, #store-info h2 {
        vertical-align: middle;
    }