<li>@Html.ActionLink("Get all users", "GetAllUsers", new { role = "User" })</li>
<li>@Html.ActionLink("Get all administrator stores", "GetAllUsers", new { role = "StoreAdmin" })</li>
<li>@Html.ActionLink("Get all admins", "GetAllUsers", new { role = "Admin" })</li>
<li>@Html.ActionLink("Get all stores", "GetAllStores", new { role = "Store" })</li>
