
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FileTooBig</title>
</head>
<body>
    <div>
        <h1>Error</h1>
        <hr />
        <p>File you are tying to upload is too big.</p>
    </div>
</body>
</html>
