<li>@Html.ActionLink("Register a product", "RegisterProduct", "ProductManager")</li>

<li>@Html.ActionLink("Register", "AccountTypeSelection", "User")</li>
<li>@Html.ActionLink("Login", "Login", "User")</li>
<li>@Html.ActionLink("Log out", "Logout", "User")</li>