<li>@Html.ActionLink("Register a store", "RegisterStore", "StoreAdmin")</li>

<li>@Html.ActionLink("Register", "AccountTypeSelection", "User")</li>
<li>@Html.ActionLink("Login", "Login", "User")</li>
<li>@Html.ActionLink("Log out", "Logout", "User")</li>