<li>
    @{
        string userId = HttpContext.Current.Request.Cookies["UserID"].Value;

        if (!string.IsNullOrEmpty(userId))
        {
            <div class="avatar" style="background-image: url(@Url.Action("GetUserImage", "Account", new { id = userId })); width: 50px; height: 50px; vertical-align: middle; border-radius: 50%;"></div>
        }

    }
</li>
<li>
    @{
        string email = HttpContext.Current.Request.Cookies["Email"].Value;

        if (!string.IsNullOrEmpty(email))
        {
            @Html.ActionLink(email, "Details", "Account")
        }
    }
</li>