@{
    if (HttpContext.Current.Request.Cookies["StoreID"] != null &&
        HttpContext.Current.Request.Cookies["StoreName"] != null)
    {
        if (!string.IsNullOrEmpty(HttpContext.Current.Request.Cookies["StoreID"].Value) &&
            !string.IsNullOrEmpty(HttpContext.Current.Request.Cookies["StoreName"].Value))
        {
            <li>@Html.ActionLink($"{HttpContext.Current.Request.Cookies["StoreName"].Value} Panel", "Index", "Store")</li>
        }
    }
}

<li>@Html.ActionLink("StoreAdmin Panel", "Index", "StoreAdmin")</li>
